In [1]:
import pandas as pd
import requests
from bs4 import BeautifulSoup

In [2]:
base_url = "http://www.nepalstock.com/main/todays_price/index/1"

In [3]:
response = requests.get(base_url+"todaysprice")

In [4]:
response

In [5]:
response.status_code

200

In [6]:
html_soup = BeautifulSoup(response.content, 'lxml')

In [7]:
html_soup.title

In [8]:
html_soup.title.text

'Nepal Stock Exchange Ltd.'

In [9]:
tables = html_soup.find_all("table")

In [10]:
len(tables)

1

In [11]:
table = tables[0]

In [12]:
raw_trs = table.find_all("tr")

In [13]:
len(raw_trs)

26

In [14]:
clean_trs = raw_trs[1:22]

In [15]:
raw_columns, raw_rows = clean_trs[0], clean_trs[1:]

In [16]:
columns = [td.text for td in raw_columns.find_all("td")]

In [17]:
columns

['S.N.',
 'Traded Companies',
 'No. Of Transaction',
 'Max Price',
 'Min Price',
 'Closing Price',
 'Traded Shares',
 'Amount',
 'Previous Closing',
 'Difference Rs.']

In [18]:
rows = [[td.text.split('\xa0')[0] for td in row.find_all("td")] for row in raw_rows]

In [19]:
rows

[['1',
  'Agriculture Development Bank Limited',
  '67',
  '368.00',
  '359.00',
  '359.00',
  '6793.00',
  '2451873.00',
  '367.00',
  '-8.00'],
 ['2',
  'Ankhu Khola Jalvidhyut Company Ltd',
  '18',
  '59.00',
  '58.00',
  '58.00',
  '520.00',
  '30240.00',
  '57.00',
  '1.00'],
 ['3',
  'Api Power Company Ltd.',
  '25',
  '110.00',
  '106.00',
  '108.00',
  '5164.00',
  '549866.00',
  '110.00',
  '-2.00'],
 ['4',
  'Arun Kabeli Power Ltd.',
  '49',
  '114.00',
  '111.00',
  '114.00',
  '26330.00',
  '2958023.00',
  '112.00',
  '2.00'],
 ['5',
  'Arun Valley Hydropower Development Co. Ltd.',
  '6',
  '94.00',
  '92.00',
  '92.00',
  '1640.00',
  '151890.00',
  '94.00',
  '-2.00'],
 ['6',
  'Asha Laghubitta Bittiya Sanstha Ltd',
  '76',
  '514.00',
  '492.00',
  '497.00',
  '4466.00',
  '2234866.00',
  '496.00',
  '1.00'],
 ['7',
  'Asian Life Insurance Co. Limited',
  '52',
  '384.00',
  '375.00',
  '379.00',
  '9598.00',
  '3639640.00',
  '378.00',
  '1.00'],
 ['8',
  'Bank of Kathmandu Ltd.',
  '127',
  '215.00',
  '211.00',
  '214.00',
  '39203.00',
  '8331307.00',
  '215.00',
  '-1.00'],
 ['9',
  'Barun Hydropower Co. Ltd.',
  '4',
  '84.00',
  '82.00',
  '82.00',
  '310.00',
  '25820.00',
  '85.00',
  '-3.00'],
 ['10',
  'Best Finance Company Ltd.',
  '8',
  '85.00',
  '84.00',
  '85.00',
  '1855.00',
  '156695.00',
  '85.00',
  '0.00'],
 ['11',
  'Bishal Bazar Company Limited',
  '11',
  '1921.00',
  '1846.00',
  '1882.00',
  '150.00',
  '280450.00',
  '1960.00',
  '-78.00'],
 ['12',
  'Bottlers Nepal (Terai) Limited',
  '4',
  '6150.00',
  '6125.00',
  '6150.00',
  '50.00',
  '306740.00',
  '6075.00',
  '75.00'],
 ['13',
  'Butwal Power Company Limited',
  '60',
  '303.00',
  '300.00',
  '302.00',
  '6109.00',
  '1841948.00',
  '302.00',
  '0.00'],
 ['14',
  'Central Finance Co. Ltd.',
  '7',
  '119.00',
  '117.00',
  '117.00',
  '844.00',
  '99376.00',
  '118.00',
  '-1.00'],
 ['15',
  'Century Commercial Bank Ltd.',
  '53',
  '166.00',
  '164.00',
  '165.00',
  '11025.00',
  '1818874.00',
  '164.00',
  '1.00'],
 ['16',
  'Chhimek Laghubitta Bikas Bank Limited',
  '35',
  '815.00',
  '805.00',
  '810.00',
  '4100.00',
  '3319758.00',
  '806.00',
  '4.00'],
 ['17',
  'Chhyangdi Hydropower Ltd.',
  '5',
  '87.00',
  '86.00',
  '87.00',
  '77.00',
  '6656.00',
  '87.00',
  '0.00'],
 ['18',
  'Chilime Hydropower Company Limited',
  '16',
  '362.00',
  '357.00',
  '359.00',
  '4191.00',
  '1510407.00',
  '357.00',
  '2.00'],
 ['19',
  'Citizen Bank International Limited',
  '45',
  '183.00',
  '181.00',
  '181.00',
  '5731.00',
  '1040810.00',
  '183.00',
  '-2.00'],
 ['20',
  'Citizen Investment Trust',
  '71',
  '2101.00',
  '2062.00',
  '2077.00',
  '6801.00',
  '14132581.00',
  '2104.00',
  '-27.00']]

In [20]:
def get_data(base_url, trail_url):
    response = requests.get(base_url+trail_url)
    html_soup = BeautifulSoup(response.content, 'lxml')
    tables = html_soup.find_all("table")
    table = tables[0]
    raw_trs = table.find_all("tr")
    clean_trs = raw_trs[1:22]
    raw_columns, raw_rows = clean_trs[0], clean_trs[1:]
    columns = [td.text for td in raw_columns.find_all("td")]
    rows = [[td.text.split('\xa0')[0] for td in row.find_all("td")] for row in raw_rows]
    return columns, rows

In [21]:
def get_dict(**datas):
    columns = datas.get('columns')
    rows = datas.get('rows')
    return [dict(zip(columns, row)) for row in rows]

In [22]:
columns, rows = get_data(base_url, 'todaysprice')

In [23]:
datas = get_dict(columns=columns, rows=rows)

In [24]:
datas

[{'S.N.': '1',
  'Traded Companies': 'Agriculture Development Bank Limited',
  'No. Of Transaction': '67',
  'Max Price': '368.00',
  'Min Price': '359.00',
  'Closing Price': '359.00',
  'Traded Shares': '6793.00',
  'Amount': '2451873.00',
  'Previous Closing': '367.00',
  'Difference Rs.': '-8.00'},
 {'S.N.': '2',
  'Traded Companies': 'Ankhu Khola Jalvidhyut Company Ltd',
  'No. Of Transaction': '18',
  'Max Price': '59.00',
  'Min Price': '58.00',
  'Closing Price': '58.00',
  'Traded Shares': '520.00',
  'Amount': '30240.00',
  'Previous Closing': '57.00',
  'Difference Rs.': '1.00'},
 {'S.N.': '3',
  'Traded Companies': 'Api Power Company Ltd.',
  'No. Of Transaction': '25',
  'Max Price': '110.00',
  'Min Price': '106.00',
  'Closing Price': '108.00',
  'Traded Shares': '5164.00',
  'Amount': '549866.00',
  'Previous Closing': '110.00',
  'Difference Rs.': '-2.00'},
 {'S.N.': '4',
  'Traded Companies': 'Arun Kabeli Power Ltd.',
  'No. Of Transaction': '49',
  'Max Price': '114.00',
  'Min Price': '111.00',
  'Closing Price': '114.00',
  'Traded Shares': '26330.00',
  'Amount': '2958023.00',
  'Previous Closing': '112.00',
  'Difference Rs.': '2.00'},
 {'S.N.': '5',
  'Traded Companies': 'Arun Valley Hydropower Development Co. Ltd.',
  'No. Of Transaction': '6',
  'Max Price': '94.00',
  'Min Price': '92.00',
  'Closing Price': '92.00',
  'Traded Shares': '1640.00',
  'Amount': '151890.00',
  'Previous Closing': '94.00',
  'Difference Rs.': '-2.00'},
 {'S.N.': '6',
  'Traded Companies': 'Asha Laghubitta Bittiya Sanstha Ltd',
  'No. Of Transaction': '76',
  'Max Price': '514.00',
  'Min Price': '492.00',
  'Closing Price': '497.00',
  'Traded Shares': '4466.00',
  'Amount': '2234866.00',
  'Previous Closing': '496.00',
  'Difference Rs.': '1.00'},
 {'S.N.': '7',
  'Traded Companies': 'Asian Life Insurance Co. Limited',
  'No. Of Transaction': '52',
  'Max Price': '384.00',
  'Min Price': '375.00',
  'Closing Price': '379.00',
  'Traded Shares': '9598.00',
  'Amount': '3639640.00',
  'Previous Closing': '378.00',
  'Difference Rs.': '1.00'},
 {'S.N.': '8',
  'Traded Companies': 'Bank of Kathmandu Ltd.',
  'No. Of Transaction': '127',
  'Max Price': '215.00',
  'Min Price': '211.00',
  'Closing Price': '214.00',
  'Traded Shares': '39203.00',
  'Amount': '8331307.00',
  'Previous Closing': '215.00',
  'Difference Rs.': '-1.00'},
 {'S.N.': '9',
  'Traded Companies': 'Barun Hydropower Co. Ltd.',
  'No. Of Transaction': '4',
  'Max Price': '84.00',
  'Min Price': '82.00',
  'Closing Price': '82.00',
  'Traded Shares': '310.00',
  'Amount': '25820.00',
  'Previous Closing': '85.00',
  'Difference Rs.': '-3.00'},
 {'S.N.': '10',
  'Traded Companies': 'Best Finance Company Ltd.',
  'No. Of Transaction': '8',
  'Max Price': '85.00',
  'Min Price': '84.00',
  'Closing Price': '85.00',
  'Traded Shares': '1855.00',
  'Amount': '156695.00',
  'Previous Closing': '85.00',
  'Difference Rs.': '0.00'},
 {'S.N.': '11',
  'Traded Companies': 'Bishal Bazar Company Limited',
  'No. Of Transaction': '11',
  'Max Price': '1921.00',
  'Min Price': '1846.00',
  'Closing Price': '1882.00',
  'Traded Shares': '150.00',
  'Amount': '280450.00',
  'Previous Closing': '1960.00',
  'Difference Rs.': '-78.00'},
 {'S.N.': '12',
  'Traded Companies': 'Bottlers Nepal (Terai) Limited',
  'No. Of Transaction': '4',
  'Max Price': '6150.00',
  'Min Price': '6125.00',
  'Closing Price': '6150.00',
  'Traded Shares': '50.00',
  'Amount': '306740.00',
  'Previous Closing': '6075.00',
  'Difference Rs.': '75.00'},
 {'S.N.': '13',
  'Traded Companies': 'Butwal Power Company Limited',
  'No. Of Transaction': '60',
  'Max Price': '303.00',
  'Min Price': '300.00',
  'Closing Price': '302.00',
  'Traded Shares': '6109.00',
  'Amount': '1841948.00',
  'Previous Closing': '302.00',
  'Difference Rs.': '0.00'},
 {'S.N.': '14',
  'Traded Companies': 'Central Finance Co. Ltd.',
  'No. Of Transaction': '7',
  'Max Price': '119.00',
  'Min Price': '117.00',
  'Closing Price': '117.00',
  'Traded Shares': '844.00',
  'Amount': '99376.00',
  'Previous Closing': '118.00',
  'Difference Rs.': '-1.00'},
 {'S.N.': '15',
  'Traded Companies': 'Century Commercial Bank Ltd.',
  'No. Of Transaction': '53',
  'Max Price': '166.00',
  'Min Price': '164.00',
  'Closing Price': '165.00',
  'Traded Shares': '11025.00',
  'Amount': '1818874.00',
  'Previous Closing': '164.00',
  'Difference Rs.': '1.00'},
 {'S.N.': '16',
  'Traded Companies': 'Chhimek Laghubitta Bikas Bank Limited',
  'No. Of Transaction': '35',
  'Max Price': '815.00',
  'Min Price': '805.00',
  'Closing Price': '810.00',
  'Traded Shares': '4100.00',
  'Amount': '3319758.00',
  'Previous Closing': '806.00',
  'Difference Rs.': '4.00'},
 {'S.N.': '17',
  'Traded Companies': 'Chhyangdi Hydropower Ltd.',
  'No. Of Transaction': '5',
  'Max Price': '87.00',
  'Min Price': '86.00',
  'Closing Price': '87.00',
  'Traded Shares': '77.00',
  'Amount': '6656.00',
  'Previous Closing': '87.00',
  'Difference Rs.': '0.00'},
 {'S.N.': '18',
  'Traded Companies': 'Chilime Hydropower Company Limited',
  'No. Of Transaction': '16',
  'Max Price': '362.00',
  'Min Price': '357.00',
  'Closing Price': '359.00',
  'Traded Shares': '4191.00',
  'Amount': '1510407.00',
  'Previous Closing': '357.00',
  'Difference Rs.': '2.00'},
 {'S.N.': '19',
  'Traded Companies': 'Citizen Bank International Limited',
  'No. Of Transaction': '45',
  'Max Price': '183.00',
  'Min Price': '181.00',
  'Closing Price': '181.00',
  'Traded Shares': '5731.00',
  'Amount': '1040810.00',
  'Previous Closing': '183.00',
  'Difference Rs.': '-2.00'},
 {'S.N.': '20',
  'Traded Companies': 'Citizen Investment Trust',
  'No. Of Transaction': '71',
  'Max Price': '2101.00',
  'Min Price': '2062.00',
  'Closing Price': '2077.00',
  'Traded Shares': '6801.00',
  'Amount': '14132581.00',
  'Previous Closing': '2104.00',
  'Difference Rs.': '-27.00'}]

In [25]:
import csv
def write_to_csv(datas):
    with open('stock_market.csv', 'w') as write_file:
        writer = csv.DictWriter(write_file, fieldnames=datas[0].keys())
        writer.writeheader()
        writer.writerows(datas)

In [26]:
write_to_csv(datas)

In [27]:
ls

100 examples.ipynb
Assignment - Nov 28.ipynb
Class & Objects.ipynb
Class-and-Objects.ipynb
Descriptor.ipynb
Dictionary-and-its-methods.ipynb
Examples.ipynb
Introduction.ipynb
My List.ipynb
OOP teminologies.ipynb
OOP-teminologies.ipynb
Set.ipynb
Untitled.ipynb
Untitled1.ipynb
Untitled2.ipynb
Web-Scraping_latest.ipynb
args  kwargs.ipynb
bw_list.ipynb
comprehension.ipynb
emergency_number.csv
emergency_number.ipynb
file handeling.ipynb
file renaming script.ipynb
functions.ipynb
login_function.ipynb
loop and controls.ipynb
methods in class.ipynb
methods-in-class.ipynb
native-data-types-and-common-operators.ipynb
nepali_cal.csv
new_1.py
newegg scraping.ipynb
practice.ipynb
practice1.ipynb
profile.csv
project - web scraping.ipynb
python.txt
revise.ipynb
set-and-its-methods.ipynb
stock_market.csv
sum of numbers.ipynb
tuple.ipynb
weather.csv
weather_webscraping.ipynb
web scraping.ipynb
web-scraping_class.ipynb
web_final_project.ipynb
web_scraping_Daraz.ipynb
web_scraping_share.ipynb
zip_codes.csv

In [28]:
less stock_market.csv